Cats and Dogs/dataset/
CIFAR-10/dataset/
Plant Disease Classification/frontend/node_modules/
Plant Disease Classification/test/test/
Plant Disease Classification/New Plant Diseases Dataset(Augmented)/
Plant Disease Classification/backend/.env
